/* class has a period before the classname in CSS */
/* id has a hashtag before the id name in CSS */

* {
   box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;  
}

.navbar {
    background-color: orchid;
    background-image: linear-gradient(to left,orchid, purple);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 999;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 50px;

}

#navbar_logo {
    background-color: limegreen;
    background-image: linear-gradient(to left, limegreen 0%, greenyellow 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* icon styling */
.fa-gem {
    margin-right: 0.5rem;
}


.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0px 1rem;
    height: 100%;
}

.navbar_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: magenta;
    background-image: linear-gradient(to left, slategray 0%, magenta 100%);
    color: white;
}

.button:hover {
    background: limegreen;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: limegreen;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0px;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0px;
        width: 100%;
        position: absolute;
        /* top: -1000px;
        opacity: 0px; */
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: orchid;
    }

    .navbar_menu.active {
        background: orchid;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
       padding-left: 25px;    
    }
    
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_button {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0px;

    }
}