* {
   box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;  
}

.navbar {

}

.navbar_container {
    
}

.navbar_toggle {
    
}

.bar {
    
}

.navbar_menu {

}

.navbar_menu {

}

.navbar_item {

}

.navbar_button {

}

.button {

}

.navbar_links {

}

